* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  max-width: 1300px;
  width: 92%;
  margin: 0 auto;
}

ol, ul {
  list-style: none;
}

body {
  font-family: 'ubunturegular';
}

section#home header {
  padding: 2px 55px;
  width: 100%;
  background-color: #20232a;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section#home header h1.left {
  font-size: 40px;
  font-weight: 7000;
}

section#home header h1.left a {
  display: block;
  text-decoration: none;
}

section#home header h1.left a img {
  display: block;
}

section#home header nav.center ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#home header nav.center ul li {
  margin-right: 20px;
}

section#home header nav.center ul li:last-child {
  margin-right: 0;
}

section#home header nav.center ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
}

section#home header nav.center ul li a:hover {
  color: #61dafb;
}

section#home header form {
  position: relative;
}

section#home header form::before {
  content: "";
  background-image: url(../images/search1.svg);
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  left: 7px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  z-index: 2;
}

section#home header form div.search-input input {
  display: block;
  width: 200px;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 4px;
  width: 100%;
  background: transparent;
  font-size: 18px;
  font-weight: 300;
  padding: 4px 4px 4px 29px;
}

section#home header form div.search-input input:focus {
  background-color: #373940;
}

section#home header ul.right li {
  display: inline-block;
  margin-right: 20px;
}

section#home header ul.right li:last-child {
  margin-right: 0;
}

section#home header ul.right li a {
  color: #fff;
  text-decoration: none;
}

section#home header ul.right li a:hover {
  color: #61dafb;
}

section#home #spotlight {
  padding: 50px 0;
}

section#home #spotlight .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section#home #spotlight .main ul.posts {
  margin-right: 30px;
}

section#home #spotlight .main ul.posts li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 1.5rem;
}

section#home #spotlight .main ul.posts li div.left-container {
  margin-right: 1.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 350px;
          flex: 0 0 350px;
  width: 350px;
  position: relative;
}

section#home #spotlight .main ul.posts li div.left-container img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section#home #spotlight .main ul.posts li div.right-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

section#home #spotlight .main ul.posts li div.right-container h2 {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: -1px;
  color: #333;
  display: block;
  margin-bottom: 22px;
  font-family: 'ubuntumedium';
  cursor: pointer;
}

section#home #spotlight .main ul.posts li div.right-container h2:hover {
  color: #0596fd;
}

section#home #spotlight .main ul.posts li div.right-container p {
  color: #9a9a9a;
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin: 0 0 1rem;
}

section#home #spotlight .main ul.posts li div.right-container div.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.5rem;
}

section#home #spotlight .main ul.posts li div.right-container div.bottom span.date {
  display: block;
  color: #adb5bd;
}

section#home #spotlight .main ul.posts li div.right-container div.bottom span.comments {
  display: block;
  color: #0596fd;
  font-weight: 700;
  cursor: pointer;
}

section#home #spotlight .main nav.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 3rem 0;
}

section#home #spotlight .main nav.pagination ul {
  list-style: none;
  color: #323232;
}

section#home #spotlight .main nav.pagination ul li {
  display: inline-block;
}

section#home #spotlight .main nav.pagination ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 3px;
  color: #323232;
  font-weight: 700;
  margin: 0.5rem 0.125rem;
  font-size: 0.875rem;
  background: #ebe7e7;
  text-decoration: none;
}

section#home #spotlight .main nav.pagination ul li a:hover {
  background-color: #0596fd;
  color: #fff;
}

section#home #spotlight .main div.s-post h4 {
  margin-bottom: 1.5rem;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #373940;
}

section#home #spotlight .main div.s-post h4::after {
  content: "";
  background: rgba(0, 0, 0, 0.12);
  height: 1px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 1rem;
}

section#home #spotlight .main div.s-post ul.sub-posts {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section#home #spotlight .main div.s-post ul.sub-posts li a {
  text-decoration: none;
  color: #20232a;
}

section#home #spotlight .main div.s-post ul.sub-posts li a:hover {
  color: #0596fd;
}

section#home #spotlight .main div.s-post ul.sub-posts li img {
  display: block;
  width: 270px;
  height: auto;
  margin-bottom: 0.5rem;
}

section#home #spotlight .main div.s-post ul.sub-posts li h3 {
  font-size: 1.2rem;
  max-width: 290px;
  line-height: 1.5rem;
}

section#home #spotlight aside.right {
  margin-left: auto;
}

section#home #spotlight aside.right ul {
  width: 100%;
}

section#home #spotlight aside.right ul h3 {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#home #spotlight aside.right ul h3::after {
  content: "";
  background: rgba(0, 0, 0, 0.12);
  height: 1px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 1rem;
}

section#home #spotlight aside.right ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  margin-bottom: 1rem;
  word-break: normal;
  height: auto;
}

section#home #spotlight aside.right ul li div.left {
  cursor: pointer;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 144px;
          flex: 0 0 144px;
  overflow: hidden;
  width: 145px;
  height: 100px;
  margin-right: 10px;
}

section#home #spotlight aside.right ul li div.left img {
  display: block;
  height: auto;
  width: 100%;
}

section#home #spotlight aside.right ul li div.right {
  cursor: pointer;
}

section#home #spotlight aside.right ul li div.right span.tag {
  display: block;
  font-weight: 700;
  color: #0596fd;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
}

section#home #spotlight aside.right ul li div.right span.text {
  display: block;
  color: #323232;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5em;
  font-family: 'ubuntumedium';
}

section#home footer {
  width: 100%;
  background-color: #282c34;
  margin: 0 auto;
  padding: 40px 30px 10px 30px;
  text-align: center;
}

section#home footer ul {
  list-style: none;
}

section#home footer ul li {
  display: inline-block;
  margin-right: 20px;
}

section#home footer ul li:last-child {
  margin-right: 0;
}

section#home footer ul li a {
  text-decoration: none;
  color: #fff;
}

section#home footer ul li a:hover {
  color: #0596fd;
}

section#home footer div.footer-logo {
  padding: 20px 0 0 0;
  width: 100%;
}

section#home footer div.footer-logo img {
  display: block;
  margin: 0 auto;
}

section#home footer div.c-right {
  padding: 20px 0 0 0;
}

section#home footer div.c-right p {
  color: #fff;
}

section#home footer div.c-right p a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

section#home footer div.c-right p a:hover {
  color: #0596fd;
}
/*# sourceMappingURL=style.css.map */